html * {
  
}

.logo {
  float: left;
  max-width: 200px;
  font-size: 30px;
  height: 100px;
  line-height: 150px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #4aaaa5;
  color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;

}

.nav1 {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}

.sub-nav {
  width: 70%;
  margin: auto
}

.nav-btn-container {
  float: right;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #777777;

}

.btn {
  display: inline-block;
  height: 100px;
  line-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid #777777 1px;
  color: #666666;
    text-decoration: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main {
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  border: #dddddd solid 1px;
  overflow: auto;
  
}

body {
  background-image: url("assets/images/restaurant_icons.png");
}

.aboutme {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: #777777 solid 2px;
    padding-bottom: 10px;
    background-color: white;
    font-size: 35px;
    padding-top: 35px;
    padding-left:25px;
    font-weight: 50px;
}
.profilePic {
    clear: both;
    float: left;
    width: 200px;
    height: 200px;
    padding: 25px 25px 25px 25px;

}
p {
  padding: 25px 25px 25px 25px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background-color:#ffffff;
  font-size: 18px;
  line-height: 25px;
}

footer {
    width: 100%;
    background-color: #666666;
    color: white;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    border-top: #4aaaa5 5px solid;
    position: absolute;
    bottom: 0;
}
